
.blog-preview {
    max-width: 200px auto;
    padding: 20px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #995a5a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }

  .blog-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
  }

  .headingBlog {
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }